<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Passport Server</title>
        <th:block th:include="fragments/head :: head"/>
        <link rel="shortcut icon" th:href="@{/images/logo.svg}"/>
    </head>
    <body>
        <div class="container">
            <h1 th:text="'Hello, ' + ${name} + '!'"/>

            <div th:unless="${subject.authenticated}">
                <a th:href="@{/login.html}" class="btn btn-primary">Login</a>
            </div>
            <div th:if="${subject.authenticated}">
                <h4 th:text="'Principal: ' + ${subject.principal}"></h4>
                <form id="logoutForm" th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-danger" value="Logout"/>
                </form>
            </div>

            <h4><a th:href="@{/api/admin-account}" class="btn btn-primary">Admin account</a>&nbsp;(Requires 'admin' role)</h4>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $.ajax({
                    url: "/open-api/login",
                    type: "GET",
                    success: function (res) {

                    }
                });
                $('#logout').on("click", function () {
                    $.post('/logout', {}, function (r) {
                        window.location.reload();
                    });
                });
            });
        </script>
    </body>
</html>