<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Passport | Server</title>
    <link rel="shortcut icon" th:href="@{favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
</head>
<body>
<div th:replace="~{page-templates :: navbar}"></div>
<div class="container">
    <div th:replace="~{page-templates :: error-message}"></div>
    <div th:replace="~{page-templates :: message-list}"></div>
</div>
</body>
</html>
