<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/assets/css/tailwind.css}" rel="stylesheet" type="text/css" />
</head>
<body class="bg-gray-100">
  <div class="flex flex-col items-center p-10">
    <div class="bg-white shadow-lg rounded-lg w-lg-400px">
      <div class="p-10 my-10">
        <form th:action="@{/logout}" method="post">
          <div class="flex flex-col items-center">
            <img th:src="@{/assets/images/logos/logo-with-text.svg}" class="h-12 opacity-75"/>
            <span class="mt-10 text-3xl text-gray-800 font-semibold">Sign out of your account</span>
          </div>

          <div class="mt-10">
            <div class="flex items-center justify-center space-x-5">
              <div class="h-10 w-10 rounded-full overflow-hidden">
                <img th:src="@{/api/accounts/profile-pic}" alt="Avatar"/>
              </div>
              <div class="ms-10 text-gray-800 font-semibold">
                Signed in as <span class="font-bold text-gray-900" th:text="${username}"></span>
              </div>
            </div>
          </div>

          <div class="mt-10">
            <button type="submit" class="w-full">
              <span class="w-[200px] px-6 py-5 mb-5 text-sm font-bold leading-none text-white transition duration-300 rounded-2xl hover:bg-purple-blue-600 focus:ring-4 focus:ring-purple-blue-100 bg-purple-blue-500">Sign out</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
