<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/assets/plugins/global/plugins.bundle.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/style.bundle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="d-flex flex-column flex-center p-10">
        <!--begin::Card-->
        <div class="card card-flush w-lg-400px">
            <!--begin::Card body-->
            <div class="card-body px-20 py-15 py-lg-20">
                <form th:action="@{/logout}" method="post">
                    <div class="row text-center">
                        <img th:src="@{/assets/media/logos/logo.svg}" class="h-60px opacity-75"/>
                        <span class="mt-5 fs-3 text-gray-800">Sign out your account</span>
                    </div>

                    <!--begin::Input group-->
                    <div class="row mt-10">
                        <div>
                            <div class="form-check form-check-custom form-check-solid form-check-lg d-flex flex-stack px-3">
                                <!--begin::Avatar-->
                                <div class="symbol symbol-circle symbol-40px">
                                    <img th:src="@{/assets/media/logos/logo.svg}"/>
                                </div>
                                <!--end::Avatar-->
                                <span class="text-gray-800 fw-semibold">Signed in as <span class="fw-bold text-gray-900" th:text="${username}"></span></span>
                                <div>
                                    &nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Input group-->

                    <div class="row mt-10">
                        <button type="submit" class="btn btn-danger min-w-90px">
                            <span class="fw-semibold">Sign out</span>
                        </button>
                    </div>
                </form>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
</body>
</html>
