<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Account Password</title>
    <link rel="shortcut icon" href="http://passport.luixtech.cn/favicon.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link href="http://passport.luixtech.cn/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="http://passport.luixtech.cn/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="d-flex flex-column flex-center text-center">
    <div class="card card-flush w-lg-550px w-md-100 py-5">
        <div class="card-body py-15 py-lg-20">
            <div class="mb-10">
                <a href="http://passport.luixtech.cn">
                    <img alt="logo1" class="h-30px" src="http://passport.luixtech.cn/assets/media/logos/logo-text.svg"/>
                </a>
            </div>
            <div class="mb-10">
                <img alt="logo2" class="h-125px" src="http://passport.luixtech.cn/assets/media/email/icon-positive-vote-1.svg"/>
            </div>
            <h1 class="fw-bolder text-gray-900 mb-10" th:text="#{activate.account.email.title}"></h1>
            <div class="fs-5 mb-1">
                <span class="fw-bold text-gray-800" th:text="#{email.greeting(${user.username})}"></span>
            </div>
            <div class="fs-5 mb-15">
                <span class="fw-semibold text-gray-800" th:text="#{activate.account.email.text}"></span>
            </div>
            <div class="mb-15">
                <a href="@{|${baseUrl}/#/activate?code=${user.activationCode}|}" class="btn btn-lg btn-primary hover-elevate-down" th:text="#{activate.account.email.button.text}"></a>
            </div>
        </div>
        <div class="fw-semibold">
            Sent by <a th:href="${domain}">Luix Passport</a>
        </div>
    </div>
</div>
</body>
</html>
